body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    padding: 20px;
}

header {
    margin-bottom: 20px;
}

header .subPageBtn{
    position: absolute;
    right: 5px;
}

header .subPageBtn a{
    color: white;
    text-decoration: none;
}

.logo {
    display: inline-flex;
    align-items: center;
}

.logo img {
    width: 100px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.logo img:hover {
    transform: rotate(10deg) scale(1.1);
    filter: brightness(1.2);
}

h1 {
    margin-left: 10px;
    color: #333;
}
.helloMsg{
    transform: rotate(-20deg);
    position: absolute;
    right: 650px;
    top: 2%;
}
.input-container {
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #ffa500;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff8c00;
}

#response {
    margin-top: 20px;
    font-size: 18px;
    color: #555;
}


li{
    background-color: rgb(144, 231, 231);
    margin: 5px 0;
    padding: 5px;
    cursor: pointer;
}